body
{
	background-color: orange;
	margin: 0;
}


.homeButtonContainer
{
	height: 50px;
	width: 50px;
	position: fixed;
}

.homeMod
{
 font-size: 50px;
}

.mainContainer
{
	width: 90%;
	height: 969px;
	margin: 0 auto;
}

.detailsContainer
{
	width: 70%;
	height: 969px;
	float: left;
}

.photoAndArrowsContainer
{
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
    width: 950px;
	height: 562.5px;
}

.arrowContainer
{
	height: 50px;
	width: 100px;
	float: left;
	padding-top: 512.5px;
}

.arrowMod
{
	font-size: 50px;
	float: bottom;
}

.rightSide
{
	padding-left: 50px;
	width: 50px;
}

.mainPhoto
{
    display: block;
    width: 750px;
	height: 562.5px;
	float: left;
}

.photoDetails
{
	width: 500px;
	height: 175px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
}

.notForLargestScreenSize
{
	display: none;
}

h2
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.circle
{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background-color: black;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.galleryContainer
{
	padding-top: 3px;
	width: 30%;
	height: 969px;
	float: left;
}

.quickBuffer
{
	margin-top: 20px;
}

.gallery
{
	width: 380px;
	height: 950px;
	margin-left: auto;
	margin-right: auto;
}

.photoLink
{
	width: 150px;
	height: 150px;
	background-color: white;
	float: left;
	margin: 20px;
}

@media only screen and (max-width: 1919px)
{



	.detailsContainer
	{
		width: 100%;
		height: 600px;
		float: left;
	}

	.galleryContainer
	{
		width: 100%;
		height: 369px;
	}

	.photoAndArrowsContainer
	{
		margin-left: 0px;
		margin-right: 0px;
		width: 750px;
		float: left;
	}

	.photoDetails
	{
		display: block;
		width: 30%;
		height: 175px;
		margin-top: 30px;
		margin-left: 0px;
		margin-right: 0px;
		float: left;
	}

	.largestScreenSizeOnly
	{
	display: none;
	}

	.notForLargestScreenSize
	{
		display: block;
	}

	.gallery
	{
		width: 1500px;
		height: 190px;
	}

	.photoLink
	{
		margin-left: 75px;
		margin-right: 75px;
	}

	.rightSide
	{
		float: right;
	}

	.equiDistanceContainer
	{
		width: 33.3%;
		float: right;
	}
}

@media only screen and (max-width: 1666px)
{
	.photoLink
	{
		margin-left: 25px;
		margin-right: 25px;
	}

	.gallery
	{
		width: 1000px;
	}
}

@media only screen and (max-width: 1512px)
{
	.photoDetails
	{
		height: 400px;
		width: 250px;
	}
}

@media only screen and (max-width: 1512px)
{
	.galleryContainer
	{
		display: none;
	}

	.getRidOfForTiny
	{
		display: none;
	}

	.revealForTiny
	{
		display: block;
	}

	.photoDetails
	{
		width: 500px;
		height: 175px;
		margin: 0 auto;
		float: left;
	}

	.mainPhoto
	{
		margin: 0 auto;
	}

	.detailsContainer{
		height: 100%;
	}
}