p
{

}

div
{
}

body
{
	margin: 0;
}

.title
{
	max-width: 100%;
	height: 100vh;
	/*background-color: yellow;*/
	margin:0 auto;
}
.batman
{
	width: 100%;
	height: 20%;
	top: 10%;
	position: relative;
	text-align: center;
	font-size: 160px;
	letter-spacing: 40px;
	/*background-color: green;*/
}

.pushedDown
{
	font-size: 40px;
	letter-spacing: 3px;
	/*background-color: red;*/
}

.header
{
	font-size: 80px;
	letter-spacing: 20px;
	text-align: center;
	color: orange;
	margin-bottom: -60px;
}

.halfSubHeader /*This header is halfway between header and subheader in terms of size.*/
{
	font-size: 70px;
	letter-spacing: 17px;
	text-align: center;
	color: orange;
	margin-bottom: -55px;
}

.subHeader
{
	font-size: 60px;
	letter-spacing: 15px;
	text-align: center;
	color: orange;
	margin-bottom: -50px;
}

.fancyLine
{
	width: 80%;
	height: 5px;
	/*background-color: orange;*/
	margin: 0 auto;
}

.smallerFancyLine
{
	width: 60%;
	height: 5px;
	/*background-color: orange;*/
	margin: 0 auto;
}
.sectionLargeImage
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 80%;
}

.sectionLargeImage
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 80%;
}

.sectionSmallImage
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 80%;
}

.leftSidebarImage
{
	width: 20%;
	height: 10px;
	position: relative;
	float: left;
	/*margin-left: 5vw;*/
}

.rightSidebarImage
{
	width: 20%;
	height: 10px;
	position: relative;
	float: left;
	/*margin-right: 5vw;*/
	
}

.sectionContainer
{
width: 100%;
/*background-color: blue;*/
/*height: 6000px;*/
}

.subSectionContainer
{
	color: white;
}

.subSquaredContainer
{

}

.sectionTextContainer
{
	width: 50%;
	position: relative;
	float: left;
	font-size: 30px;
	/*background-color: red;*/
	margin-left: 5%;
	margin-right: 5%;
}

.largeA /*For enlarging sections by one "degree".*/
{
	height: 16200px;
}

.smallA
{
	height: 2000px;
}




.quickCenter
{
	margin-left: 30vw;
}

.slightBottomMartin
{
	margin-bottom: 30px;
}

.greenBackground
{
	/*background-color: green;*/
}

.redBackground
{
	/*background-color: red;*/
}

.triggerAtMobileSize
{

}

@media only screen and (max-width: 768px) 
{

	.title
	{
		max-width: 100%;
		height: 100vh;
		margin:0 auto;
	}

	.triggerAtMobileSize
	{
	font-size: 60px;
	letter-spacing: 30px;
	}

	.leftSidebar
	{
		display: none;
	}

	.rightSidebar
	{
		display: none;
	}

	.header
	{
		font-size: 60px;
		letter-spacing: 20px;
		text-align: center;
		color: orange;
		margin-bottom: -60px;
	}

	.halfSubHeader /*This header is halfway between header and subheader in terms of size.*/
	{
		font-size: 50px;
		letter-spacing: 17px;
		text-align: center;
		color: orange;
		margin-bottom: -55px;
	}

	.subHeader
	{
		font-size: 40px;
		letter-spacing: 15px;
		text-align: center;
		color: orange;
		margin-bottom: -50px;
	}

	

}

@media only screen and (max-width: 1024px) 
{

	.pushedDown
	{
		font-size: 30px;
		letter-spacing: 3px;
		/*background-color: red;*/
	}

	

}